 *{margin:0;padding: 0;}
body{
	background-image: url("64.jpg");
	background-repeat:repeat-x;
	margin:0;
	padding: 0;
}
.container{
	margin:0 auto;
	/*background-color: pink;*/
}
.photo{	
	width:240px;
	/*background-color: yellow;*/
	margin: 30px auto; 
	margin-top: 160px;
}
.name{ 		
	font-family: 微软雅黑,宋体;
     margin:0 auto;
     font-size: 50px;  
     /*background-color: red;*/    	
}
.nav{
	margin-top: 5px;
	color: red;
	top:10px;
	left: 10px;
	height: 30px;
	position: fixed;
}
ul{
	list-style: none;
}
.nav li{
	float: left;
	padding: 10px;
}
.nav li a{
	text-decoration: none;
	display: block;
	height: 30px;
	line-height: 15px;
	width: 100px;
	margin-bottom: 5px;
	color: red;
}
.nav li a:hover{
	color: green;
}
/*第二页*/
/*.education{
	position: absolute;
	width: 100%;
}*/
h1{text-align: center;
	height: 60px;
	margin-top: 300px;
	/*background-color: red;*/
	font-size: 40px;

}
.top{
	width: 100%;
	height: 100px;
	margin-top: 200px;
}
div.education p{
	text-align: center;
	line-height: 30px;
}
.2left{
	
	width: 100px;
	top: 100px;
	left: 20px;
	padding:100px;
	margin-top: 100px;
}
.right_l{
	left: 36%;
	top: 100px;
}
.right_r{
	left:67%;
	top: 100px;
	right: 30px;
}
.pos_absolute{
	position: absolute;
}
.content2{
	width: 100%;
	height: 480px;
	/*background-color: pink;*/
	margin-top: 20px;
	position: absolute;

}
/*page3*/
/*page4*/
.page{
	margin-top: 100px;
	width: 100%;
	height: 600px;
	position: absolute;
	background-color: red;
}
